#mainMenu_anchorPane {
}

#mainMenu_header {
    -fx-font-size: 30px;
}

#mainMenu_backgroundImage {
    -fx-opacity: 0.5;
}

#mainMenu_headerMenu {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#mainMenu_buttonStart {
    -fx-background-radius: 10;
    -fx-border-width: 1px 2px 2px 1px;
    -fx-border-style: solid;
    -fx-border-color: 000000;
    -fx-border-radius: 10;
    -fx-font-size: 20;
    -fx-padding: 10px 20px 10px 20px;
}

#mainMenu_buttonStart:hover {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 2, 2);
    -fx-font-size: 21px;
    -fx-border-width: 1px 4px 4px 1px;
    -fx-background-radius: 15;
}

#mainMenu_vueTableAnimals{
    -fx-font-size: 14;
}

#mainMenu_vueTableAnimalsCell{
    -fx-alignment: center;
}

#mainMenu_splitPane{
    -fx-opacity: 0.9;
    -fx-border-style: solid;
    -fx-border-width: 3px 0 0 0;
    -fx-border-color: gray;

}

#mainMenu_vueTableAnimals{
    -fx-background-color: 0,0,0,0;
}

#labelHeaderPropertyAnimalTable{
    -fx-font-size: 14;
    -fx-font-weight: 900;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
}

#labelTypeProperty{
    -fx-font-size: 14;
    -fx-font-weight: 900;
}