#mainMenu_anchorPane {
}

#mainMenu_header {
    -fx-font-size: 30px;
}

#mainMenu_backgroundImage {
}

#mainMenu_headerMenu {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#mainMenu_buttonStart {
    -fx-background-radius: 10;
    -fx-border-width: 1px 2px 2px 1px;
    -fx-border-style: solid;
    -fx-border-color: 000000;
    -fx-border-radius: 10;
    -fx-font-size: 20;
    -fx-padding: 10px 20px 10px 20px;
}

#mainMenu_buttonStart:hover {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 2, 2);
    -fx-font-size: 20.2px;
    -fx-border-width: 2px 4px 4px 2px;
}